{% extends 'templates/app.twig' %}

{% block content %}
   {% include 'templates/partials/banner.twig' %}

        <!--================Banner Area ====================-->


        <!--================End Banner Area ====================-->
        <!--================Categories Product Bicycle Area ====================-->
        <section class="no_sidebar_2column_area">
            <div class="container">       
                <h1>Safety on bicycle</h1> 
                <div class="two_column_product">
                    <div class="row">
                       
                       {% for index, product in products %}
                            {% if product.category == 'bicycle'%}
                                {% include 'products/partials/item.twig' with{product: product} %}
                            {% endif%}
                       {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!--================End Categories Product:Bicycle Area =================-->
        <!--================Categories Product Car Area ====================-->
        <section class="no_sidebar_2column_area">
            <div class="container">   
                <h1>Safety with car</h1> 
                <div class="two_column_product">
                    <div class="row">
                       {% for index, product in products %}
                            {% if product.category == 'car'%}
                                {% include 'products/partials/item.twig' with{product: product} %}
                            {% endif%}
                       {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!--================End Categories Product:Car Area =================-->
        <!--================Categories Product Home Area ====================-->
        <section class="no_sidebar_2column_area">
            <div class="container"> 
                <h1>Safety at home</h1> 
                <div class="two_column_product">
                    <div class="row">
                       {% for index, product in products %}
                            {% if product.category == 'atHome'%}
                                {% include 'products/partials/item.twig' with{product: product} %}
                            {% endif%}
                       {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!--================End Categories Product:Home Area =================-->
        <!--================Categories Product Work Area ====================-->
        <section class="no_sidebar_2column_area">
            <div class="container">    
                <h1>Safety at work</h1> 
                <div class="two_column_product">
                    <div class="row">
                       {% for index, product in products %}
                           {% if product.category == 'work'%}
                                {% include 'products/partials/item.twig' with{product: product} %}
                            {% endif%}
                       {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!--================End Categories Product:work Area =================-->

 
        
{% endblock %}


