{% extends 'templates/app.twig' %}

{% block content %}

                       
                   <!--================Full Page Area =================-->
<!--
        <section class="full_page_area">
            <section id="fullpage" class="full_page_inner">
                <div class="section soda_can active" style="background: url(http://localhost/BePZOZ_2.0/public/images/home-parallax/parallax-1.jpg); background-size: cover; background-repeat: no-repeat; background-position: center center;">
                    <div class="paper_inner">
                        <div class="parallax_style_one">
                            <h4>The A - Z Guide Of Fashion</h4>
                            <h3>Fashion Shortcuts - The Easy Way</h3>
                            <a class="add_cart_btn" href="#">view collection</a>
                        </div>
                    </div>
                </div>
                <div class="section" style="background: url(http://localhost/BePZOZ_2.0/public/images/home-parallax/parallax-2.jpg); background-size: cover; background-repeat: no-repeat; background-position: center center;">
                    <div class="paper_inner">
                        <div class="parallax_style_two">
                            <h3>OFFBEAT</h3>
                            <h4>Everyday Collection</h4>
                            <a class="discover_btn" href="#">view collection</a>
                        </div>
                    </div>
                </div>
                <div class="section" style="background: url(http://localhost/BePZOZ_2.0/public/images/home-parallax/parallax-3.jpg); background-size: cover; background-repeat: no-repeat; background-position: center center;">
                    <div class="paper_inner ice_creem">
                        <div class="parallax_style_two">
                            <h3>UNIQUE</h3>
                            <h4>Everyday Collection</h4>
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=RdtHX15sXiU"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="section" style="background: url((http://localhost/BePZOZ_2.0/public/images/home-parallax/parallax-4.jpg); background-size: cover; background-repeat: no-repeat; background-position: center center;">
                    <div class="paper_inner">
                        <div class="parallax_style_one">
                            <h4>Top 10 Tips With Fashion</h4>
                            <h3>Fashion Shortcuts</h3>
                            <a class="discover_btn" href="#">view collection</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
-->
<!--        ================End Full Page Area =================-->
        
        

        <!--================Categories Banner Area =================-->
        <section class="categories_banner_area">
            <div class="container">
                <div class="c_banner_inner">
                    <h3>BePzoz</h3>
                    <ul>
                        <li class="current"><a href="#">Original & unique items</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Categories Banner Area =================-->
        
        <!--================Categories Product Area =================-->
        <section class="no_sidebar_2column_area">
            <div class="container">
<!--
                <div class="showing_fillter">
                    <div class="row m0">
                        <div class="first_fillter">
                            <h4>Showing 1 to 12 of 30 total</h4>
                        </div>
                        <div class="secand_fillter">
                            <h4>SORT BY :</h4>
                            <select class="selectpicker">
                                <option>Name</option>
                                <option>Name 2</option>
                                <option>Name 3</option>
                            </select>
                        </div>
                        <div class="third_fillter">
                            <h4>Show : </h4>
                            <select class="selectpicker">
                                <option>09</option>
                                <option>10</option>
                                <option>10</option>
                            </select>
                        </div>
                        <div class="four_fillter">
                            <h4>View</h4>
                            <a class="active" href="#"><i class="icon_grid-2x2"></i></a>
                            <a href="#"><i class="icon_grid-3x3"></i></a>
                        </div>
                    </div>
                </div>
-->               
                <div class="two_column_product">
                    <div class="row">
                        <div class="col-lg-4 col-sm-6">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <img class="img-fluid" src="http://localhost/BePZOZ_2.0/public/images/product/Kabel.jpg" alt="">
                                    <h5 class="sale">Sale</h5>
                                </div>
                                <div class="l_p_text">
                                   <ul>
                                        <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                        <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                        <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                    </ul>
                                    <h4>Kabel</h4>
                                    <h5><del>$25.50</del>  $20</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <img class="img-fluid" src="http://localhost/BePZOZ_2.0/public/images/product/PlugAppleNoCable.jpg" alt="">
                                    <h5 class="new">New</h5>
                                </div>
                                <div class="l_p_text">
                                   <ul>
                                        <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                        <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                        <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                    </ul>
                                    <h4>Plug Apple</h4>
                                    <h5><del>$13</del>  $11</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <img class="img-fluid" src="http://localhost/BePZOZ_2.0/public/images/product/PlugTypeCNoCable.jpg" alt="">
                                </div>
                                <div class="l_p_text">
                                   <ul>
                                        <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                        <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                        <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                    </ul>
                                    <h4> Plug type C</h4>
                                    <h5>$13.00</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <img class="img-fluid" src="http://localhost/BePZOZ_2.0/public/images/product/PZOZ-Magnetische-Kabel-Micro-usb-Type-C-Snel-Opladen-Adapter-Telefoon-Microusb-Type-C-Magneet-Charger (2).jpg" alt="">
                                </div>
                                <div class="l_p_text">
                                   <ul>
                                        <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                        <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                        <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                    </ul>
                                    <h4>Kabel Micro USB Type C</h4>
                                    <h5><del>$25 </del>  $21</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <img class="img-fluid" src="http://localhost/BePZOZ_2.0/public/images/product/PZOZ-Magnetische-Kabel-Micro-usb-Type-C-Snel-Opladen-Adapter-Telefoon-Microusb-Type-C-Magneet-Charger (3).jpg" alt="">
                                    <h5 class="sale">Sale</h5>
                                </div>
                                <div class="l_p_text">
                                   <ul>
                                        <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                        <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                        <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                    </ul>
                                    <h4>Kabel Micro USB</h4>
                                    <h5>$23.00</h5>
                                </div>
                            </div>
                        </div>
<!--
                        <div class="col-lg-4 col-sm-6">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <img class="img-fluid" src="http://localhost/BePZOZ_2.0/public/images/product/three-column/product-three-6.jpg" alt="">
                                </div>
                                <div class="l_p_text">
                                   <ul>
                                        <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                        <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                        <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                    </ul>
                                    <h4>Google Sunglass</h4>
                                    <h5><del>$1500 </del>  $1150</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <img class="img-fluid" src="http://localhost/BePZOZ_2.0/public/images/product/three-column/product-three-7.jpg" alt="">
                                </div>
                                <div class="l_p_text">
                                   <ul>
                                        <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                        <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                        <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                    </ul>
                                    <h4>Mens Fashion Clothes</h4>
                                    <h5>$150</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <img class="img-fluid" src="http://localhost/BePZOZ_2.0/public/images/product/three-column/product-three-8.jpg" alt="">
                                </div>
                                <div class="l_p_text">
                                   <ul>
                                        <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                        <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                        <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                    </ul>
                                    <h4>Google Sunglass</h4>
                                    <h5><del>$1500 </del>  $1150</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <img class="img-fluid" src="http://localhost/BePZOZ_2.0/public/images/product/three-column/product-three-9.jpg" alt="">
                                </div>
                                <div class="l_p_text">
                                   <ul>
                                        <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                        <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                        <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                    </ul>
                                    <h4>Full-Grain Leather Belt</h4>
                                    <h5>$33.50</h5>
                                </div>
                            </div>
                        </div>
-->
                    </div>
<!--
                    <nav aria-label="Page navigation example" class="pagination_area">
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item next"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                      </ul>
                    </nav>
-->
                </div>
            </div>
        </section>
        <!--================End Categories Product Area =================-->
        
   
   
<!--
   
   

   <main>
    <div class="row ">
           <div class="col-md-1"></div>
       {% for index, product in products %}

           <div class="col-md-5 col-sm-7">
               {% include 'products/partials/item.twig' with{product: product} %}
           </div>
           {% if (index + 1) % 2 == 0 %}
           </div>
           <div class="row">
           <div class="col-md-1"></div>
           
           {% endif %}
       {% endfor %}
    </div>
    </main>
-->
{% endblock %}


