<div class="cart_t_list">
    <div class="media">
        <div class="d-flex">
            <h5>Subtotal</h5>
        </div>
        <div class="media-body">
            <h6>€{{ basket.subTotal | number_format(2) }}</h6>
        </div>
    </div>
    <div class="media">
        <div class="d-flex">
            <h5>Shipping</h5>
        </div>
        <div class="media-body">
            €5.00
        </div>
    </div>
</div>
<div class="total_amount row m0 row_disable">
    <div class="float-left">
        Total
    </div>
    <div class="float-right">
        €{{ (basket.subTotal + 5) | number_format(2)}}
    </div>
</div>